@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    --color-brown-50: #f8f5f2;
    --color-brown-100: #ffffff;
    --color-brown-200: #594f4b;
    --color-stone: #3a3a39;
}

p {
    font-size: 15px;
}

pre {
    font-size: 15px;
}
/*html {*/
/*    background-color: #FFDFA9;*/
/*    font-family: sans-serif;*/
/*    color: #212121;*/
/*}*/

/*body {*/
/*    margin: 0 auto;*/
/*    width: 100%;*/
/*    max-width: 80ch;*/
/*    padding: 1rem;*/
/*    line-height: 1.5;*/
/*    font-family: "Source Sans 3", sans-serif;*/
/*}*/

/** {*/
/*    box-sizing: border-box;*/
/*}*/

/*a {*/
/*    color: inherit;*/
/*    text-decoration: underline;*/
/*    text-decoration-thickness: calc(1em / 12);*/
/*    text-decoration-color: #F3AF61;*/
/*    text-underline-offset: calc(1em / 6);*/
/*}*/

/*a:hover {*/
/*    text-decoration-style: wavy;*/
/*    text-decoration-thickness: calc(calc(1em / 12) + 1px);*/
/*}*/

/*h1 {*/
/*    margin: 1rem 0;*/
/*    font-size: 2.5rem;*/
/*}*/

/*.title {*/
/*    font-family: serif;*/
/*}*/

/*.header {*/
/*    display: flex;*/
/*    filter: drop-shadow(0 10px 10px rgb(0 0 0 / 0.2))*/
/*    drop-shadow(0 4px 6px rgb(0 0 0 / 0.1));*/
/*}*/

/*.main-block {*/
/*    line-height: 1.6;*/
/*    margin-top: 20px;*/
/*    padding: 0 24px;*/
/*    padding-bottom: 20px;*/
/*    border-width: 1px;*/
/*    border-color: #F3AF61;*/
/*    border-style: solid;*/
/*    border-radius: 6px;*/
/*    background-color: white;*/
/*}*/
