@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    --color-brown-50: #f8f5f2;
    --color-brown-100: #ffffff;
    --color-brown-200: #594f4b;
    --color-stone: #3a3a39;
}

p {
    font-size: 15px;
}

pre {
    font-size: 15px;
}
