@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
    --color-brown-50: #f8f5f2;
    --color-brown-100: #ffffff;
    --color-brown-200: #594f4b;
    --color-stone: #3a3a39;
}

p {
    font-size: 15px;
}

pre {
    font-size: 15px;
}

  .prose a[href^="http"]:not([href*="slowlearner.quest"])::after,
  .prose a[href^="https"]:not([href*="slowlearner.quest"])::after,
  .prose a[href^="http"]:not([href*="localhost"])::after {
    content: " ↗";
    /* or use: content: " 🔗"; */
    /* or use: content: " ⧉"; */
    display: inline-block;
    margin-left: 0.125rem;
    font-size: 0.875em;
  }