---
import { getCollection, render } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import PostCard from "../../components/PostCard.astro";
import PostContainer from "../../components/PostContainer.astro";

import getPostUrl from "../../scripts/postUrl";

export async function getStaticPaths() {
    const isDev = import.meta.env.DEV;

    const allSeries = await getCollection("series");
    const allPosts = await getCollection("posts");

    return allSeries.map((series) => {
        const seriesPosts = allPosts
            .filter((post) => isDev || !post.data.draft)
            .filter((post) => post.data.series == series.slug)
            .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

        return {
            params: { id: series.slug },
            props: { series, seriesPosts },
        };
    });
}

const { series, seriesPosts } = Astro.props;
const { title } = series.data;
const { Content } = await render(series);
---

<BaseLayout title={`Series: ${title}`}>
    <h1 class="text-3xl font-bold mb-8">{title}</h1>
    <Content />

    <PostContainer posts={seriesPosts} />
</BaseLayout>
