---
import Base from "../layouts/base.astro";
import Container from "../components/Container.astro";
---
<Base>
    <Container>
        <p>I am an Australian certified general dentist.</p>
        <p>I am interested in startups, programming and dentistry. I plan to add learning content here as I go. </p>
    </Container>
</Base>