---
import Base from "../layouts/base.astro";
---
<Base>
    <main class="main-block">
        <p>The name of this blog is inspired by the book <a href="https://en.wikipedia.org/wiki/Thinking,_Fast_and_Slow">Thinking, Fast and Slow</a>. It specifically refers to the latter system of thinking, System 2, which is more deliberate but slower.</p>
        <p>My current two muses are healthcare (specifically dentistry) and SwiftUI - a declarative user interface framework for developing apps on all Apple devices. I also enjoy art, fashion and mindfulness.</p>
        <p>You can explore my musings here. Otherwise you can subscribe for updates via email or RSS feed.
    </main>
</Base>
