---
import Base from "../layouts/base.astro";
import Container from "../components/Container.astro";
---
<Base title="Projects">
    <Container>
        <p>I am currently working on <a href="https://anthrodontics.com">Anthrodontics</a>, a pre-seed Clinical Decision Support System for Dentists 🦷</p>
        <p>I love programming in <a href="https://elixir-lang.org">Elixir</a> and <a href="https://github.com/phoenixframework/phoenix_live_view">Phoenix LiveView</a>. I have written a few open-source libraries in Elixir. I also have contributed to the latter's codebase. </p>
        <p>I lived a previous life as an iOS indie developer. It's currently on hiatus as I am focused on my full time work and <a href="https://anthrodontics.com">Anthrodontics</a>.</p>
    </Container>
</Base>