---
import sanitizeHtml from "sanitize-html";
import Base from "../layouts/base.astro";
import Container from "../components/Container.astro";
import BlogRow from "../components/BlogRow.astro";

const posts = Object.values(
    import.meta.glob("../pages/til/*.md", { eager: true }),
);
posts.sort(
    (a, b) =>
        Date.parse(b.frontmatter.published_date) -
        Date.parse(a.frontmatter.published_date),
);
---
<Base title="Today I Learned">
    <Container>
        <div class="not-prose">
            {
                posts.map((post) => (
                        <BlogRow post={post} />
                ))
            }
        </div>
    </Container>
</Base>
