---
import sanitizeHtml from "sanitize-html";
import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";
dayjs.extend(utc);

const { post } = Astro.props;
const date = dayjs(post.frontmatter.published_date).utc().format("D MMM YYYY");
---
<a href={post.url} class="grid grid-cols-1 md:gap-4 md:grid-cols-4 pb-4 place-content-start items-center">
    <span class="underline md:no-underline font-mono text-sm md:text">{date}</span>
    <span class="col-span-3">{sanitizeHtml(post.frontmatter.title)}</span>
</a>