---
const navigation_links = [
    {"label": "Home", "href": ""},
    {"label": "Blog", "href": "blog"},
    {"label": "Projects", "href": "projects"},
    {"label": "TIL", "href": "til"},
];

const { pathname } = Astro.url;
---
<header class="pt-8 pb-4 px-4">
    <a href="/" class="flex justify-center gap-4 items-center drop-shadow-lg">
        <img src="/favicon-32x32.png" />
        <div class="px-4 py-2 rounded-md bg-brown-200">
            <h1 class="text-xl font-serif font-semibold text-brown-50">Slow Learner's Quest</h1>
        </div>
    </a>
</header>
<nav class="px-4 py-4 overflow-x-auto mb-4 lg:mb-0">
    <ul class="flex justify-start gap-2">
        { navigation_links.map((link) => (
                <li>
                    <a href={`/${link.href}`} aria-selected={pathname.slice(1) === link.href ? 'true' : link.href} class="font-ui font-semibold rounded-full py-2 px-4 hover:bg-brown-200/40 aria-selected:text-white aria-selected:inset-shadow-sm aria-selected:bg-linear-to-t from-brown-200/90 to-brown-200 ">{link.label}</a>
                </li>
        ))}
    </ul>

</nav>