---
import PostCard from "./PostCard.astro";
import getPostUrl from "../scripts/postUrl";

const { posts } = Astro.props;
---

<div class="space-y-0">
    {
        posts.map(async (post) => {
            const { Content } = await post.render();
            return (
                <PostCard post={post} url={getPostUrl(post)}>
                    <Content />
                </PostCard>
            );
        })
    }
</div>
