---
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

const { title } = Astro.props
---

<html lang="en" class="bg-brown-50">
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="16x16"  href="/favicon-16x16.png"/>
    <link rel="icon" sizes="32x32" href="/favicon-32x32.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Brian Kim's humble site of learnings" />
    <title>{title} / Slow Learner's Quest</title>
    <link rel="alternate" type="application/rss+xml" title="Slow Learner's Quest" href={new URL("rss.xml", Astro.site)} />
</head>
<body class="flex flex-col min-h-screen items-center justify-center">
<Navigation />
<main class="flex-grow lg:w-xl">
<slot />
</main>
<Footer />
</body>